@import "./overrrides";

.img-prop {
    object-fit: cover;
    max-width: 300px;
    height: auto;
}

.z-index-nav {
    z-index: 99;
}

.mt-6 {
    margin-top: 4rem !important ;
}

.mt-7 {
    margin-top: 5rem !important;
}

.mt-8 {
    margin-top: 6rem !important;
}

.aspect-details {
    max-width: 300px;
    max-height: 400px;
}

.max-h-400 {
    max-height: 400px;
}

.primary-modify {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(136, 183, 252, 1) 0%,
        rgba(5, 106, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(136, 183, 252, 1) 0%,
        rgba(5, 106, 255, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(136, 183, 252, 1) 0%,
        rgba(5, 106, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#056aff",GradientType=1);
}

.success-modify {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(132, 207, 172, 1) 0%,
        rgba(25, 135, 84, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(132, 207, 172, 1) 0%,
        rgba(25, 135, 84, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(65, 214, 130, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(132, 207, 172, 1) 0%,
        rgba(25, 135, 84, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#198754",GradientType=1);
}

.danger-modify {
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 38, 139, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(233, 123, 123, 1) 0%,
        rgba(241, 9, 9, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 38, 139, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(233, 123, 123, 1) 0%,
        rgba(241, 9, 9, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 38, 139, 1) 0%,
        rgba(237, 57, 212, 1) 0%,
        rgba(13, 110, 253, 1) 0%,
        rgba(233, 123, 123, 1) 0%,
        rgba(241, 9, 9, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#f10909",GradientType=1);
}

body {
    #main-container {
        #main-row {
            .col {
                .this {
                    p {
                        font-size: larger;
                    }
                    .secondoDiv {
                        @media screen and (min-width: 1px) {
                            max-width: auto;
                            font-size: large;
                        }
                        @media screen and (min-width: 992px) {
                            max-width: 250px;
                        }
                    }
                    .terzoDiv {
                        button {
                            padding: 1.5rem !important;
                            font-size: 1.5em !important;
                            @media screen and (min-width: 992px) {
                                font-size: 1em !important;
                            }
                        }
                        @media screen and (min-width: 1px) {
                            width: 100% !important;
                            height: 40% !important;
                        }
                        @media screen and (min-width: 992px) {
                            width: 25% !important;
                            height: 100% !important;
                            button {
                                padding: 0.6rem !important;
                            }
                        }
                        @media screen and (min-width: 992px) {
                            button {
                                padding: 0.6rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
